<script type="text/javascript">
$(function() {
    var $parent = $("#new_event_modal");
    
    $parent.find("form").bind("submit", function() {
        $parent.find(".destinationGroups").find("option").attr("selected", "selected");
        var data = $(this).serialize();
        $.ajax({
            url: "@{EventController.create}",
            type: "POST", data: data
        })
        .done(function(res,status,xhr) {
            var $body = $parent.find(".modal-body");
            var warning = xhr.getResponseHeader("FormErrors") ;
            if ( warning) {
                $body.empty();
                $body.append(res);
                $body.scrollTop(0);
            }
            else {
                $parent.modal("hide");
                globals.exitRegionMode();
                var route = #{jsAction @Application.index(':id') /};
                window.location = route({id: res.id});
            }
        })
        .fail(function(err,xhr) {
            alert("Error creating the event");
        });
        
        return false;
    });
    
    $parent.find(".selectMove").click(function() {
        var $t = $(this);
        var $src = $parent.find(_.template(".<%= src %> option:selected", {src: $t.data("src")}));
        var $dst = $parent.find(_.template(".<%= dest %>", { dest: $t.data("dest")}));
        $src.remove();
        $src.each(function() {
            var $me = $(this);
            var pos = $me.text();
            var $higherItems = $dst.children().filter(function() {
                return $(this).text().toLowerCase() < pos;
            });
            if ( $higherItems.length == 0) {
                $dst.prepend($me);
            }
            else {
                $me.insertAfter($higherItems.last());
            }
        });
        return false;
    });
});
</script>

#{ifErrors}
<div class='alert alert-error error'>
    <p><strong>There were some validation errors submitting the Event, please see below for details</strong></p>
    <ul>
    #{errors}
        <li>&{error.getKey()}</li>
    #{/errors}
    </ul>
</div>
#{/ifErrors}

#{form @EventController.create(), id: 'EventForm', enctype:'multipart/form-data', class: "new form-horizontal"}
#{event.EventForm e: e/}

<div class='input left clear'>
    <input type="submit" value="Create Event" class='btn btn-primary'/>
</div>

#{/form}

